{% import 'macros.j2' as print with context %}
// {{ ansible_managed }}

// vim:ft=named

{% if (bind__named_conf_default_acls + bind__named_conf_acls) %}
{{ print.named_conf((bind__named_conf_default_acls + bind__named_conf_acls), prefix='acl') }}
{% endif %}
{% if (bind__named_conf_default_logging_channels + bind__named_conf_logging_channels + bind__named_conf_default_logging_categories + bind__named_conf_logging_categories) %}
logging {
{{ print.named_conf((bind__named_conf_default_logging_channels + bind__named_conf_logging_channels), prefix='channel') | indent(8, true) }}
{{ print.named_conf((bind__named_conf_default_logging_categories + bind__named_conf_logging_categories), prefix='category', output_type='category') | indent(8, true) }}
};

{% endif %}
options {
{{ print.named_conf(bind__named_conf_combined_options) | indent(8, true) }}
};
