{% import 'macros.j2' as print with context %}
// {{ ansible_managed }}

// vim:ft=named

// Server type: {{ bind__type }}

{% if (bind__named_conf_default_acls + bind__named_conf_acls) %}
{{ print.named_conf((bind__named_conf_default_acls + bind__named_conf_acls), prefix='acl') }}
{% endif %}
{% if bind__named_conf_masters %}
{{ print.named_conf(bind__named_conf_masters, prefix='masters') }}
{% endif %}
{% if bind__views|bool %}
include "/etc/bind/named.conf.d/views/all.conf";
{% elif not bind__views|bool %}
include "/etc/bind/named.conf.d/zones/all.conf";
{% endif %}
